<<!DOCTYPE html>
<html>
<head>

<title>Neurovision AI</title>

<style>

body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

button{
padding:12px;
font-size:18px;
margin-top:10px;
}

img{
margin-top:20px;
max-width:80%;
}

#error{
color:red;
margin-top:10px;
}

</style>

</head>

<body>

<h1>Neurovision AI — MRI Anatomical Brain</h1>

<input type="file" id="file">

<br>

<button onclick="analyze()">Analyze MRI</button>

<div id="error"></div>

<img id="brain">


<script>

async function analyze(){

let fileInput = document.getElementById("file");

if(fileInput.files.length === 0){

alert("Select image");

return;

}

let form = new FormData();

form.append("image", fileInput.files[0]);

document.getElementById("error").innerText = "Analyzing...";

let res = await fetch("/analyze",{

method:"POST",

body:form

});

let data = await res.json();

if(!data.success){

document.getElementById("error").innerText = data.error;
return;

}

document.getElementById("error").innerText = "";

document.getElementById("brain").src =
data.brain_image + "?t=" + new Date().getTime();

}

</script>

</body>
</html>